.btn{
	padding-top:6px;
	padding-bottom:6px;
	padding-left:12px;
padding-right:12px;
margin-top:4px;
margin-bottom:4px;
margin-left:6px;
margin-right:4px;
font-size:16px;
color:white;
border-radius:15px;
border-style:solid;
border-width:2px;

} 
.btn-primary{
	background-color:green;
	border-color:lightgreen;
	
}

.btn-secondary{
	background-color:halfwhite;
	color:black;
	border-color:lightyellow;
}
.btn-disabled{
	background-color:red;
	border-color:red;
}
.btn-transparent{
	background-color:white;
	color:blue;
	border-color:white;
}
.btn-normal{
	background-color:white;
	border-color:white;
	color:black;
}


